@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      // 首钢主题色
      'base': #003b90,
    ),
  ),
  $border-radius: (
    'base': 0px,
    'small': 2px,
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;

body {
  margin: 0;
}
